.feedback {
   padding-bottom: 71px;
   &__item {
      margin-top: 100px;
      display: flex;
      &:nth-child(2) {
         margin-top: 70px;
      }
   }
   &__text {
      margin-left: 71px;
      padding-right: 62px;
   }
   &__subtitle {
      font-weight: 700;
      font-size: 18px;
      color: #0d0d0d;
   }
   &__count {
      font-weight: 500;
      font-size: 14px;
      color: #646464;
   }
   &__descr {
      margin-top: 10px;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      color: #0d0d0d;
   }
   &__img {
      width: 169px;
      height: 169px;
   }
}
